In [1]:
import pandas as pd

# Series

1. Series : Series 객체 생성 시, 별도의 index 값을 설정하지 않으면, 기본적으로 0부터 시작하는 정수로 index가 생성된다.

In [2]:
kakao = pd.Series([92600, 92400, 92100, 94300, 92300])
print(kakao)
kakao.index

0    92600
1    92400
2    92100
3    94300
4    92300
dtype: int64

RangeIndex(start=0, stop=5, step=1)

2. index를 별도로 설정하여 Series 객체 생성

In [3]:
idx = ['2021-12-01', '2021-12-02', '2021-12-03', '2021-12-04', '2021-12-05']
kakao.index = idx

3. idx와 data를 이용한 Series 객체 생성

In [4]:
data = [92600, 92400, 92100, 94300, 92300]
kakao2 = pd.Series(data, index=idx)
kakao2

2021-12-01    92600
2021-12-02    92400
2021-12-03    92100
2021-12-04    94300
2021-12-05    92300
dtype: int64

### Series 데이터 선택 방법

In [5]:
print(kakao[2])
print(kakao['2021-12-02'])

92100
92400

### Series 전체 데이터 추출하는 방법 : index와 values 이용

In [6]:
for data in kakao2.index:
    print(data)

print()

for price in kakao2.values:
    print(price)

2021-12-01
2021-12-02
2021-12-03
2021-12-04
2021-12-05

92600
92400
92100
94300
92300

In [7]:
merge = kakao + kakao2
merge

2021-12-01    185200
2021-12-02    184800
2021-12-03    184200
2021-12-04    188600
2021-12-05    184600
dtype: int64

# DataFrame

In [8]:
raw_data = {'col0':[1,2,3,4], 'col1':[10, 20, 30, 40], 'col2':[100, 200, 300, 400]}
df = pd.DataFrame(raw_data)
df

   col0  col1  col2
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400

In [9]:
print(df['col0'])
print(type(df['col0']))

0    1
1    2
2    3
3    4
Name: col0, dtype: int64
<class 'pandas.core.series.Series'>

In [10]:
daeshin = {'open': [11650, 11100, 11200, 11100, 11000],
           'high': [12100, 11800, 11200, 11100, 11150],
           'low' : [11600, 11050, 10900, 10950, 10900],
           'close': [11900, 11600, 11000, 11100, 11050]}

daeshin_df = pd.DataFrame(daeshin)
daeshin_df

    open   high    low  close
0  11650  12100  11600  11900
1  11100  11800  11050  11600
2  11200  11200  10900  11000
3  11100  11100  10950  11100
4  11000  11150  10900  11050

In [11]:
# 컬럼명 순서 변경 -> 값 순서도 같이 변경된다
daeshin_df2 = pd.DataFrame(daeshin, columns=['open', 'low', 'close', 'high'])
daeshin_df2

    open    low  close   high
0  11650  11600  11900  12100
1  11100  11050  11600  11800
2  11200  10900  11000  11200
3  11100  10950  11100  11100
4  11000  10900  11050  11150

In [12]:
dp_idx = ['21.12.01', '21.12.02', '21.12.03', '21.12.04', '21.12.05']
daeshin_df3 = pd.DataFrame(daeshin, columns=['open', 'low', 'close', 'high'], index=dp_idx)

In [13]:
print(daeshin_df3['open'])
print(daeshin_df3.iloc[1:3])
print(daeshin_df3['21.12.01':'21.12.03'])
print(daeshin_df3.loc['21.12.01':'21.12.03'])

21.12.01    11650
21.12.02    11100
21.12.03    11200
21.12.04    11100
21.12.05    11000
Name: open, dtype: int64
           open    low  close   high
21.12.02  11100  11050  11600  11800
21.12.03  11200  10900  11000  11200
           open    low  close   high
21.12.01  11650  11600  11900  12100
21.12.02  11100  11050  11600  11800
21.12.03  11200  10900  11000  11200
           open    low  close   high
21.12.01  11650  11600  11900  12100
21.12.02  11100  11050  11600  11800
21.12.03  11200  10900  11000  11200

In [14]:
import numpy as np

In [15]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [16]:
# Pandas의 date_range('시작날짜', periods=갯수)
dates = pd.date_range('20211208', periods=6)
dates

DatetimeIndex(['2021-12-08', '2021-12-09', '2021-12-10', '2021-12-11',
               '2021-12-12', '2021-12-13'],
              dtype='datetime64[ns]', freq='D')

In [17]:
# Numpy를 이용하여 행렬 난수 생성 : np.random.randn(행수, 열수)
np.random.randn(6, 4)

array([[-0.06165696,  0.75654185,  0.7980287 ,  0.59162083],
       [-0.81866373, -0.66894915,  0.74050028,  1.3984577 ],
       [ 0.26331552,  1.7059704 , -1.20449898,  1.23730924],
       [-1.68622961, -0.58918699, -1.28396267,  0.46787491],
       [ 0.96342811,  1.05619834,  1.20018191, -1.16340251],
       [ 0.12806868,  0.72579242, -0.61425618,  1.81360265]])

In [18]:
# dates 를 이용하여 np.random.randn(6,4)를 데이터로  DataFrame 생성
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2021-12-08 -1.194813  0.689087  0.135272 -1.200220
2021-12-09 -0.489326  0.261105  0.326450 -0.465859
2021-12-10 -0.200017  0.674339  0.272030  2.321000
2021-12-11  0.388804  1.404901 -0.062292 -0.038432
2021-12-12  0.029624  1.222466 -1.398266  0.200858
2021-12-13  1.519993  0.990782 -0.490941 -0.760861

In [19]:
print(df.index)
print(df.columns)

DatetimeIndex(['2021-12-08', '2021-12-09', '2021-12-10', '2021-12-11',
               '2021-12-12', '2021-12-13'],
              dtype='datetime64[ns]', freq='D')
Index(['A', 'B', 'C', 'D'], dtype='object')

In [20]:
df.head(3)

                   A         B         C         D
2021-12-08 -1.194813  0.689087  0.135272 -1.200220
2021-12-09 -0.489326  0.261105  0.326450 -0.465859
2021-12-10 -0.200017  0.674339  0.272030  2.321000

In [21]:
df.tail(3)

                   A         B         C         D
2021-12-11  0.388804  1.404901 -0.062292 -0.038432
2021-12-12  0.029624  1.222466 -1.398266  0.200858
2021-12-13  1.519993  0.990782 -0.490941 -0.760861

In [22]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.009044  0.873780 -0.202958  0.009415
std    0.913122  0.416322  0.656014  1.238127
min   -1.194813  0.261105 -1.398266 -1.200220
25%   -0.416999  0.678026 -0.383779 -0.687110
50%   -0.085196  0.839934  0.036490 -0.252145
75%    0.299009  1.164545  0.237841  0.141035
max    1.519993  1.404901  0.326450  2.321000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-12-08 to 2021-12-13
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [24]:
# DataFrame의 데이터 정렬, sort_values(by=기준, ascending=True/False)
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2021-12-11  0.388804  1.404901 -0.062292 -0.038432
2021-12-12  0.029624  1.222466 -1.398266  0.200858
2021-12-13  1.519993  0.990782 -0.490941 -0.760861
2021-12-08 -1.194813  0.689087  0.135272 -1.200220
2021-12-10 -0.200017  0.674339  0.272030  2.321000
2021-12-09 -0.489326  0.261105  0.326450 -0.465859

In [25]:
df.loc['2021-12-10':'2021-12-12', ['A','B']]

                   A         B
2021-12-10 -0.200017  0.674339
2021-12-11  0.388804  1.404901
2021-12-12  0.029624  1.222466

In [26]:
df[df.A>0]

                   A         B         C         D
2021-12-11  0.388804  1.404901 -0.062292 -0.038432
2021-12-12  0.029624  1.222466 -1.398266  0.200858
2021-12-13  1.519993  0.990782 -0.490941 -0.760861

In [27]:
df2 = df.copy()

# 새로운 컬럼과 데이터 추가
df2['E'] = ['one', 'two', 'three', 'four', 'one', 'two']

# DataFrame의 특정 컬럼에 지정한 데이터가 포함되어 있는지 확인
df2['E'].isin(['two', 'three'])

2021-12-08    False
2021-12-09     True
2021-12-10     True
2021-12-11    False
2021-12-12    False
2021-12-13     True
Freq: D, Name: E, dtype: bool

In [28]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

In [29]:
# DataFrame들을 순서대로 연결하여 새로운 DataFrame 생성 : Pandas.concat([데이터프레임, 데이터프레임 ...])
df_concat1 = pd.concat([df1, df2, df3])
df_concat1

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [30]:
df_concat2 = pd.concat([df1, df2, df3], keys=['x','y','z'])
df_concat2

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [31]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])

In [32]:
# DataFrame 연결 시 열로 연결, axis=1 옵션
df_concat3 = pd.concat([df1, df4], axis=1)
df_concat3

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [33]:
# DataFrame 연결 시 공통 부분만 : join="inner"
df_concat4 = pd.concat([df1, df4], axis=1, join="inner")
df_concat4

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [34]:
# DataFrame 연결 시 기존 index를 무시하고 다시 index 0부터 정수로 재설정할 경우 : ignore_index=True
df_concat5 = pd.concat([df1, df4], ignore_index=True)
df_concat5

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [35]:
# DataFrame 병합 : Pandas.merge(데이터프레임, 데이터프레임, on=key이름, how="병합방식")
left = pd.DataFrame({'key': ['K0', 'K4', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [36]:
pd.merge(left, right, on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3

In [37]:
pd.merge(left, right, how="left", on="key")

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K4  A1  B1  NaN  NaN
2  K2  A2  B2   C2   D2
3  K3  A3  B3   C3   D3

In [38]:
pd.merge(left, right, how="right", on="key")

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1  NaN  NaN  C1  D1
2  K2   A2   B2  C2  D2
3  K3   A3   B3  C3  D3

In [39]:
pd.merge(left, right, how="outer", on="key")

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K4   A1   B1  NaN  NaN
2  K2   A2   B2   C2   D2
3  K3   A3   B3   C3   D3
4  K1  NaN  NaN   C1   D1

In [40]:
pd.merge(left, right, how="inner", on="key")

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3

In [41]:
# 외부파일을 DataFrame으로 불러오기 : Pandas.read_csv(), Pandas.read_excel()
# 1. CCTV_in_Seoul.csv
cctv = pd.read_csv('./데이터분석/data1/01. CCTV_in_Seoul.csv')
cctv.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [42]:
# 컬럼명 변경: 기관명 => 구별 : DataFrame.rename(columns={DataFrame.colums[0] : '변경컬럼명'}, inplace=True
# inplace=True : 변경사항을 해당 데이터 프레임에 적용
cctv.rename(columns={cctv.columns[0] : '구별'}, inplace=True)
cctv.columns

Index(['구별', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [43]:
seoul = pd.read_excel('./data1/01. population_in_Seoul.xls')
seoul.head(5)

         기간  자치구       세대        인구  ...    인구.7    인구.8  세대당인구  65세이상고령자
0        기간  자치구       세대        합계  ...   등록외국인   등록외국인  세대당인구  65세이상고령자
1        기간  자치구       세대         계  ...      남자      여자  세대당인구  65세이상고령자
2  2017.1/4   합계  4202888  10197604  ...  128445  142191   2.36   1321458
3  2017.1/4  종로구    72654    162820  ...    4064    5167   2.11     25425
4  2017.1/4   중구    59481    133240  ...    4134    4794   2.09     20764

[5 rows x 14 columns]

In [44]:
# 행 건너뛰기 : header = 엑셀 행 번호
seoul = pd.read_excel('./data1/01. population_in_Seoul.xls', header=2)
seoul.head(5)

         기간  자치구         세대           계  ...      남자.2      여자.2  세대당인구   65세이상고령자
0  2017.1/4   합계  4202888.0  10197604.0  ...  128445.0  142191.0   2.36  1321458.0
1  2017.1/4  종로구    72654.0    162820.0  ...    4064.0    5167.0   2.11    25425.0
2  2017.1/4   중구    59481.0    133240.0  ...    4134.0    4794.0   2.09    20764.0
3  2017.1/4  용산구   106544.0    244203.0  ...    7965.0    6782.0   2.15    36231.0
4  2017.1/4  성동구   130868.0    311244.0  ...    3692.0    4172.0   2.32    39997.0

[5 rows x 14 columns]

In [45]:
# 열 선택 : usecols="엑셀컬럼명, 엑셀컬럼명, 엑셀컬럼명 ..."
seoul = pd.read_excel('./data1/01. population_in_Seoul.xls', header=2, usecols="B, D, G, J, N")
seoul.head(5)

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0